body   {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  background-color: #ffffff;
  #background-image:url("../images/head gruen.png");
  background-repeat:no-repeat;
  margin:5px;
}
td,tr   { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
h1   { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 24px; color: black; font-weight: bold; }
h2   { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 22px; color: #000000; }
h3   { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; color: #000000; }
h4   { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; color: #000000; }
h5   { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; }
h6   { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #000000; }
.small_font   { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; }
.table_ws   { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; background-color: #E1EDFF; }
.table_title_ws   { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; background-color: #2F107F; color: #FFFFFF; font-weight: bold; }
a:active   { }
a:link   { color: #2F107F; }
a:visited   { color: #000000; }
p,li,ul   { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
table.data { border-collapse: collapse; border-spacing:0; }
table.data caption { font-weight: bold; border: thin solid black; padding: 3px; }
table.data th { font-weight: bold; }
table.data td { padding:3px; }
div.location { border-top: thin dotted grey; border-bottom: thin dotted grey; margin-bottom:5px; background-color: #E6E6E6; }
div.location a { border-left: thin dotted grey; padding-left:5px; padding-right:6px }
.frame { border: thin dotted grey; }

a.button {
  text-decoration: none;
  border: 1px dotted #27147d;
  padding: 1px;
  margin: 3px;
  color: #000000;
  background-color: #e1edff;
  z-index: 18;
}
a.button:hover {
  text-decoration: none;
  border: 1px dotted #e1edff;
  padding: 3px;
  margin: 1px;
  color: #d9ffbd;
  background-color: #27147d;
  z-index: 19;
}  
  

div.navigation a {
  text-decoration: none;
  display: block;
  width: 160;
  border: 1px dotted #27147d;
  padding: 1px;
  margin: 1px;
  color: #000000;
  background-color: #e1edff;
  z-index: 20;
}

div.navigation a:hover {
  text-decoration: none;
  display: block;
  width: 160;
  border: 1px dotted #e1edff;
  padding: 1px;
  margin: 1px;
  color: #d9ffbd;
  background-color: #27147d;
  z-index: 21;
}

