<div class="col-md-3">
	<div ng-class="mandatoryClass(address.name)">
		<input type="text" class="form-control" ng-model="address.name" placeholder="Name" />
	</div>
	<div ng-class="mandatoryClass(address.address)">
		<input type="text" class="form-control" ng-model="address.address" placeholder="Adresse" />
	</div>
	<div ng-class="mandatoryClass(address.ZIPCity)">
		<input type="text" class="form-control" ng-model="address.ZIPCity" placeholder="PLZ / Ort" />
	</div>
</div>
<div class="col-md-3">
	<div ng-class="mandatoryClass(address.tel)">
		<input type="text" class="form-control" ng-model="address.tel" placeholder="Telefon" />
	</div>
	<div ng-class="mandatoryClass(address.mail)">
		<input type="email" class="form-control" ng-model="address.mail" placeholder="E-Mail" />
	</div>
</div>