<div class="col-md-3">
	<div ng-class="mandatoryClass(address.firstname)">
		<input type="text" class="form-control" ng-model="address.firstname" placeholder="Vorname" />
	</div>
	<div ng-class="mandatoryClass(address.lastname)">
    <input type="text" class="form-control" ng-model="address.lastname" placeholder="Nachname" />
  </div>
</div>
<div class="col-md-3">
  <div ng-class="mandatoryClass(address.mail)">
    <input type="email" class="form-control" ng-model="address.mail" placeholder="E-Mail" />
  </div>
</div>