table.data {
	border: thin dotted grey;
	border-collapse: collapse;
}

.single_embedded table td {
	font-size: 12px;
}

table.data td {
	border: thin dotted grey;
}

table.single_table_embedded {
	font-size: 11px;
	width: 530px;
}

table.single_table_embedded tr td {
	padding: 2px;
}

table.single_table_embedded th.single_table_group_header {
	font-size: 16px;
	vertical-align: middle;
	text-align: center;
}

table.resulttable td,
table.resulttable th {
	border-top-color: #404040;
	border-left-color: #404040;
	border-width: 1px;
	border-style: solid;
}

table.resulttable th {
	padding: 8px;
}

.title {
	color: #404040;
	font-size: 11px;
	line-height: 14px;
	font-weight: 700;
	font-family: Arial, Verdana, Helvetica, Geneva, sans-serif
}

.title_underline {
	color: #404040;
	font-size: 11px;
	line-height: 14px;
	font-weight: 700;
	text-decoration: underline;
	font-family: Arial, Verdana, Helvetica, Geneva, sans-serif
}

input,
textarea {
	color: #475353;
	font-size: 11px;
	font-family: Arial, Helvetica, Geneva, sans-serif;
	border: 1px solid #475353
}




#menu_berichte {
	position: absolute;
	z-index: 1;
	top: 170px;
	left: 31px;
	width: 159px;
	visibility: hidden;
	display: block
}

#menu_ranglisten {
	position: absolute;
	z-index: 1;
	top: 170px;
	left: 31px;
	width: 159px;
	visibility: hidden;
	display: block
}

#menu_jahresprogramm {
	position: absolute;
	z-index: 1;
	top: 170px;
	left: 31px;
	width: 159px;
	visibility: hidden;
	display: block
}

#menu_ausschreibungen {
	position: absolute;
	z-index: 1;
	top: 170px;
	left: 31px;
	width: 159px;
	visibility: hidden;
	display: block
}

#menu_korbball {
	position: absolute;
	z-index: 1;
	top: 170px;
	left: 31px;
	width: 159px;
	visibility: hidden;
	display: block
}

#menu_volleyball {
	position: absolute;
	z-index: 1;
	top: 170px;
	left: 31px;
	width: 159px;
	visibility: hidden;
	display: block
}

#menu_verband {
	position: absolute;
	z-index: 1;
	top: 170px;
	left: 31px;
	width: 159px;
	visibility: hidden;
	display: block
}



.text {
	color: #475353;
	font-size: 11px;
	line-height: 15px;
	font-family: Verdana, Arial, Helvetica, Geneva, sans-serif
}


.headline {
	color: #5C736C;
	font-size: 9px;
	line-height: 12px;
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif
}

.headline_small {
	color: #5C736C;
	font-size: 9px;
	line-height: 12px;
	font-style: italic;
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif
}

.text_underline {
	text-decoration: underline;
}

a.button {
	text-decoration: none;
	border: 1px dotted #27147d;
	padding: 1px;
	margin: 3px;
	color: #000000;
	background-color: #e1edff;
	z-index: 18;
}

a.button:hover {
	text-decoration: none;
	border: 1px dotted #e1edff;
	padding: 3px;
	margin: 1px;
	color: #ffffff;
	background-color: #748ca8;
	z-index: 19;
}

@media print {
	.main {
		margin-left: 0;
		width: 100%;
	}
}

div .table {
	display: table;
	border-collapse: collapse;
}

div .tr {
	display: table-row;
}

div .td {
	display: table-cell;
	vertical-align: top;
	padding: 0.4em;
	border-top: 1px solid #ddd;
}

div .th {
	display: table-cell;
	padding: 0.4em;
	background-color: #f9f9f9;
	border-top: 1px solid #ddd;
	font-weight: bold;
	border-top: 1px solid #ddd;
}

.ranking-table {
	margin-bottom: 20px;
	border-collapse: collapse;
}

.ranking-table>tbody>tr {
	border-top: 1px solid #ddd;
}

.ranking-table>tbody>tr>th {
	padding: 5px;
	min-width: 4em;
}

.ranking-table>tbody>tr>td {
	padding: 5px;
}

.ranking-table>tbody>tr:nth-of-type(2n+1) {
	background-color: #f9f9f9;
}