@CHARSET "UTF-8";

body {
  cursor: none;
}

table {
  font-size: 14px;
}

.table-condensed>tbody>tr>td {
  padding-top: 1px;
  padding-bottom: 1px;
}

.navbar {
  min-height: 20px;
}

.navbar-nav>li>a {
  padding-top: 5px;
  padding-bottom: 5px;
}

img.presentation-qr-code {
  width: 200px;
  height: 200px;
  margin-right: 100px;
}

.ranking-table {
  margin-bottom: 20px;
  border-collapse: collapse;
}

.ranking-table>tbody>tr {
  border-top: 1px solid #ddd;
}

.ranking-table>tbody>tr>th {
  padding: 5px;
}

.ranking-table>tbody>tr>td {
  padding: 5px;
}

.ranking-table>tbody>tr:nth-of-type(2n+1) {
  background-color: #f9f9f9;
}